body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    height: 100vh;
}
ol,
ul {
    padding: 0;
}

.dark {
    .text_color1 {
        color: #1b2430;
        transition: all 0.4s ease;
    }
    .text_color2 {
        color: #f6f6f6;
        transition: all 0.4s ease;
    }
    .pc_background1 {
        background-color: #1b2430;
    }
    .pc_background2 {
        background-color: #1b2430;
    }

    .icon_color {
        fill: #fd703b;
        transition: all 0.4s ease;
    }
    .background_color {
        background-color: #f6f6f6;
        transition: all 0.4s ease;
    }
    .background_color2 {
        background-color: #1b2430;
        transition: all 0.4s ease;
    }
    // background: black;
    // color: #fff;
    // text-align: center;
}

.light {
    transition: all 1s ease;

    // background: #ddd;
    // color: #555;
    // text-align: center;
    .text_color1 {
        color: #fd703b;
        transition: all 0.4s ease;
    }
    .text_color2 {
        color: #1b2430;
        transition: all 0.4s ease;
    }
    .pc_background1 {
        background-color: #f6f6f6;
    }
    .pc_background2 {
        background-color: #1b2430;
    }
    .icon_color {
        transition: all 0.4s ease;

        fill: #1b2430;
    }
    .background_color {
        background-color: #1b2430;
        transition: all 0.4s ease;
    }
    .background_color2 {
        background-color: #f6f6f6;
        transition: all 0.4s ease;
    }
}

.speech-bubble {
    border-radius: 5px;
    background: $Instagram;
    color: #fff;
    display: inline-block;
    @include set-font-1(normal, 500, 32px, 50px);
    margin-bottom: 1em;
    text-decoration: none;
    padding: 0 1em;
    position: relative;
    text-align: center;
    vertical-align: top;
    margin: 5px 0px;
    height: 50px;
    width: 70px;
}
