/******************** Colors ********************/

$Primary: #295ec6;
$OnSurface: #1d1d1d;
$Secondary: #6a6a6a;
$Secondary2: #b7b7b7;
$SurfaceMain: #ffffff;
$Surface: #f7f7f7;
$Interactive: #1977bb;
$Critical: #df4949;
$Warning: #ffbd0c;
$Success: #47a432;
$Highlight: #1e58c8;
$Decorative: linear-gradient(to top right, #4b50e6, #e250e5);
$Rose: #f27b85;
$Line: #e5e5e5;
$PinkDark: #f4407d;
$Supplementary: #1bbbd0;
$Instagram: linear-gradient(to top right, #ffdd55, #ff543e, #c837ab);
$ListBackground: #1b4aa5;
$RedOrange: #e6703d;
$GreenDark: #19553c;
$Green: #99ba3c;
$Pink: #ee6e90;
$Cyan: #39a196;
$Orange: #1454b3;

// $Sidebar: #11101d;
// $SidebarSecondary: #1d1b31;
// $SidebarText: #fff;
$FormBg: #342d83;
$FormTxt: #fff;

// $Sidebar: #dbdae0;
// $SidebarSecondary: #aaa8bd;
// $SidebarText: rgb(114, 17, 17);


// $Sidebar: #1B2430;
// $SidebarSecondary: #1B2430;
// $SidebarText:#FD703B;

$Sidebar: #f7f7f7;
$SidebarSecondary: #f7f7f7;
$SidebarText:rgb(27, 26, 26);

// $Sidebar: #1e1e2f;
// $SidebarSecondary: #6640b2;
// $SidebarText: #ff7f00;
