// .sidebar-link {
//     display: flex;
//     color: #e1e9fc;
//     justify-content: space-between;
//     align-items: center;
//     padding: 20px;
//     list-style: none;
//     height: 60px;
//     text-decoration: none;
//     font-size: 16px;
//     &:hover {
//         background: #252831;
//         border-left: 4px solid #632ce4;
//         cursor: pointer;
//     }
//     .sidebar-label {
//         margin-left: 16px;
//     }
// }

.dropdown-link {
    background-color: red;
    background: $SidebarSecondary;
    border-radius: 12px;
    margin-bottom: 5px;
    margin-left: 12px;
    height: 35px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $SidebarText;
    font-size: 15px;
    transition: all 0.3s ease;
    svg {
        color: $SidebarText;
        position: absolute;
    }
    .sidebar-label {
        opacity: 0;
    }
    &:hover {
        color: $SidebarSecondary;
        background: $SidebarText;
        cursor: pointer;
        svg {
            color: $SidebarSecondary;
            position: absolute;
        }
    }
}
